/* -------------------------------------- MESH -------------------------------------------- */
/* Body And Font */
body { width:100%; min-width:100%; height:100%; min-height:100%; margin:0; padding:0; }
body, p, td, div, a { font:12px/16px Arial, Verdana, Helvetica, sans-serif; }
h3 { font-size:12px; font-weight:bold; margin:4px 0; padding:0; text-transform:uppercase; }
a, a:visited, a:active { text-decoration:none; }	
a.l, a.l:visited, a.l:active { display:block; padding:0 2px 1px 3px; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; }
a.lsmall, a.lsmall:visited, a.lsmall:active { font:10px/12px Arial, Verdana, Helvetica, sans-serif; }
p { margin:0; padding:0; }
div#footer p, div#footer p a { font:9px Verdana, Helvetica; }
.lien2, a.lien2 { font-size:11px; }
.blockRow { opacity:.4; -webkit-transition: all 1s ease-in-out; -moz-transition: all 1s ease-in-out; -o-transition: all 1s ease-in-out; }
.blockRow:hover { opacity:1; }
.close, a.close { font-size:11px; float:right; }
a.hightlight { font-size:150%; }
a.hightlight2 { font-size:140%; }
/* Page */
div#SearchBot { position: absolute; z-index:1000; width: 770px; top: 50%; left: 50%; margin: -300px 0 0 -385px; padding:5px;  }
div#footerBg { display:none;}
div#footer { position: fixed; z-index:2000; left:0; right:0; bottom:0; height:25px; }
div#footer p { margin:7px 7px 0 0; text-align:right; }
div#header { position: absolute; z-index:1; width:100%; height:25px; }
div#header div { margin:4px; }
div#foxy { position: absolute; z-index: 1; }
div#D1, div#D2 { width:100%; }
div#menu { vertical-align:bottom; }
form { margin:0; padding:0; display:inline; }
div#searchBox { width:740px; border-radius:8px; -moz-border-radius:8px; -webkit-border-radius:8px; padding:8px 4px; }
select#searcher { width:21px; height:42px; margin:0 8px 0 0; padding:0; vertical-align:bottom; font-size:13px; font-weight:normal; }
@media screen and (-webkit-min-device-pixel-ratio:0) { select#searcher { width:18px; } }
input#searcher option { width:616px; font-weight:normal; padding:1px 0 0 20px; }
input#searcher optgroup { font-weight:normal; font-style:normal; padding: 2px 0 2px 5px; }
input#q { margin:0; padding:0 0 2px 40px; font-size:25px; font-weight:bold; width:589px; height:38px; line-height:20px; vertical-align:top; border-radius:4px 0 0 4px; -moz-border-radius:4px 0 0 4px;border-radius:4px 0 0 4px; }
input#btnG { margin:0; padding:0 0 6px 0; font-size:22px; width:59px; height:42px; line-height:20px; border-radius:0 4px 4px 0; -moz-border-radius:0 4px 4px 0;border-radius:0 4px 4px 0; vertical-align:top; cursor:pointer; }
input#clear { margin:0; padding:0 0 6px 0; font-size:15px; width:16px; height:42px; line-height:20px; border-radius:0; -moz-border-radius:0;border-radius:0; vertical-align:top; cursor:pointer;}
img { border:0; }
img.ico { vertical-align:middle; border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius:2px; }
img.edit { vertical-align:middle; }
img.thumb { vertical-align:top; border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius:2px; }
div#tooltip { position: absolute; z-index: 3000; padding: 5px; font:normal 9px Arial, Georgia, serif; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; }
div#tooltip h3, #tooltip div { margin: 0; }
div#info, #prefs { position: absolute;  top: 50%; left: 50%; z-index: 2000; padding:8px 10px 10px 10px; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; }
div#info { width: 400px; margin: -160px 0 0 -200px;}
div#prefs { width: 400px; margin: -100px 0 0 -200px;}
ul.sortUlCat, ul.sortUlLink { list-style-type:none; margin:0; padding:0; float:left; display:block; }
ul.sortUlCat li { margin:0; padding:0; float:left; display:block; }
ul.sortUlLink li { margin:0; padding:0; }
div#divEditInfos { position: absolute; z-index:8000; padding:6px; top:0; left:0; }
form#formEdit label { line-height:20px; display:block;  }
form#formEdit input { margin-bottom:12px; width:95%; padding: .4em; display:block; }
form#formEdit legend { font-size:11px; font-weight:bold; margin:4px 0; padding:0; text-transform:uppercase; }
form#formEdit fieldset { border:none; margin:0; padding:0; }
.right { float:right; }
.left { float:left; }
.center { text-align:center; }
.bold { font-weight:bold; }
.blockRow { width:100%; margin:12px 0 4px 0; display:block; text-align:center; clear:both; }
.ui-dialog .ui-state-error { padding: .3em; }
span#heure { cursor:wait; }
div#searhTerms { margin:4px 0 6px 0; }
a#git {  display:none; bottom: 25px; left: 0; display:block; width:90px; height:90px; opacity: 0.2; position: fixed; z-index: 999; opacity:0.3; -webkit-transition: all 1s ease-in-out; -moz-transition: all 1s ease-in-out; -o-transition: all 1s ease-in-out; text-indent:-999px; }
a#git:hover {opacity: 1; }
div#overlay { top:0; left:0; width:100%; height:100%; background:#FFFFFF; position:absolute; z-index:9886; }

/* -------------------------------------- COLORS -------------------------------------------- */
/* BACKGROUND */
body { background:#FFFFFF url(../images/bg_big_white.jpg) repeat-x scroll left top;  -webkit-background-clip:cover; -moz-background-clip:cover; background-clip:cover;}
div#searchBox, input#btnG, input#clear, div#footer, div#header {
background: #f6f8f9;background: -moz-linear-gradient(top, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f8f9), color-stop(50%,#e5ebee), color-stop(51%,#d7dee3), color-stop(100%,#f5f7f9));filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); }
input#q { background: rgba(255,255,255,0.3); }
input#q.classQfocus { background: rgba(255,255,255,0.7); }
#tooltip, #info, #prefs, #divEditInfos { background: #f6f8f9; background: -moz-linear-gradient(top, #f6f8f9 0%, #e5ebee 5%, #d7dee3 95%, #f5f7f9 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f8f9), color-stop(5%,#e5ebee), color-stop(95%,#d7dee3), color-stop(100%,#f5f7f9)); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); }
select#searcher { background:none; }
a.l:hover { background:#733A3A;}

/* TEXT */
body, p, td, div, select#searcher, div#tooltip, div#info, div#prefs, div#divEditInfos, div#footer p, div#footer p a { color:#808080; }
a, a.l:hover, a.l, a.l:visited, a.hightlight, #btnG { color:#B1B1B1; }
a.l:hover strong, a.l strong, a.l:visited strong { font-weight:normal; }
a:hover, div#header div a:hover, div#footer p a:hover, div#footer p a:hover, a:active, a.l:active, a.lien2:hover, .hightlight:first-letter, a.hightlight:first-letter, a.hightlight2, a.hightlight2:visited, select#searcher option, div#divEditInfos h3, input#btnG:hover, input#clear:hover  { color:#875357; }
a:first-letter {} /*for FF */
div#header div, div#header div a, input#q, input, td.gac_c, form#formEdit label {color:#5C2E48; }

/* BORDER */
a.l { border-left: 1px solid rgba(250,250,250,.1); /*1px solid #F0F0FF;*/ }
div#searchBox, input#q, img.ico, img.thumb, div#tooltip { border:1px solid #B1B1B1; }
div#prefs, div#info { border:1px solid #5C2E48; }
div#divEditInfos { border-right:1px dotted #B1B1B1; border-bottom:1px dotted #B1B1B1; }
/*#divEdit { border:2px groove #B1B1B1;}*/
input#q { border-right:none; }
input#btnG, input#clear { border:1px solid rgba(255,255,255,0.5); border-left:1px solid #B1B1B1; -webkit-transition: all 0.6s ease-in-out; -moz-transition: all 0.6s ease-in-out; -o-transition: all 0.6s ease-in-out;  }
input#btnG:hover, input#clear:hover { border:1px solid #B1B1B1; border-left:1px solid #B1B1B1; }
select#searcher { border:none; }
ul.borderFocus:hover { margin:-1px; border:1px dotted #F0F0FF; }
.placeHolder { background:#733A3A; }

/* SHADOWS */
a.l, a.l:visited, a.l:active, #q { }
a.l:hover strong, a.l strong, a.l:visited strong { color:#9B8181; }
div.shadow, div.shadow a { }
div.shadow a:hover { }
input#btnG, input#clear { text-shadow: 1px 1px 5px #FFFFFF; }
body, input#q { -moz-box-shadow: inset 3px 3px 4px #9B8181; -webkit-box-shadow: inset 3px 3px 4px #9B8181; box-shadow: inset 3px 3px 4px #9B8181; }
input#q.classQfocus { -moz-box-shadow: inset 2px 2px 3px #9B8181; -webkit-box-shadow: inset 2px 2px 3px #9B8181; box-shadow: inset 2px 2px 3px #9B8181; }
input#btnG, input#clear  { -moz-box-shadow: 1px 1px 4px rgba(255, 255, 255, 0.3) inset; -webkit-box-shadow: 1px 1px 4px rgba(255, 255, 255, 0.3) inset; box-shadow: 1px 1px 4px rgba(255, 255, 255, 0.3) inset; }
div#footer, div#header { -moz-box-shadow: 0px 0px 6px #666666; -webkit-box-shadow:0px 0px 6px #666666; box-shadow:0px 0px 6px #666666; }
div#searchBox, div#tooltip, /*#divEdit,*/ div#info, div#prefs, .autocomplete  { -moz-box-shadow: 2px 2px 6px #9B8181; -webkit-box-shadow: 2px 2px 6px #9B8181; box-shadow: 2px 2px 6px #9B8181; }

/* -------------------------------------- JS autocomplete -------------------------------------------- */
.autocomplete-w1 { position:absolute; top:0px; left:0px; margin:0; padding:2px 0 0 0; -moz-opacity : 0.85; filter : alpha(opacity=85); opacity : 0.85;  }
.autocomplete { border:none; background:#FFFFFF; -moz-border-radius:20px; -webkit-border-radius:20px; border-radius:20px; cursor:default; text-align:left; max-height:350px; overflow:auto; }
.autocomplete .selected { background:#733A3A;  }
.autocomplete div { padding:2px 5px 2px 35px; white-space:nowrap; font-size:16px;  color:#333333; }
.autocomplete strong { color:#5C2E48; }
.suggestData { float:right; color:#9B8181; font-size:10px; }

/* -------------------------------------- FOXY -------------------------------------------- */
@-webkit-keyframes rotate { from { -webkit-transform: rotate(0deg); } to {  -webkit-transform: rotate(360deg); } }
#foxy { top:-135px;left:0; width:240px; height:200px; background: url("../images/bully.png") no-repeat scroll left bottom transparent;
-webkit-animation-name: rotate; -webkit-animation-duration: 10s; -webkit-animation-iteration-count: infinite;-webkit-animation-timing-function: linear;
-moz-animation-name: rotate; -moz-animation-duration: 10s; -moz-animation-iteration-count: infinite;-moz-animation-timing-function: linear;

animation-name: rotate; animation-duration: 10s; animation-iteration-count: infinite;animation-timing-function: linear; }